@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import './font.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  /* font-family: 'Montserrat', sans-serif; */

  font-family: "Mitr", sans-serif;
  ::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
  
::-webkit-scrollbar {
  width: 5px; 
}
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: #9FA7AF;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: white;
}
}
/* 
.cursor{
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: #8fd6ff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000000;
} */

.trapezium {
  height: 0;
  width: 200px;
  border-bottom: 200px solid rgb(255, 255, 255);
  border-left:100px solid transparent;
  transform: rotate(180deg);
}
 
.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;

 
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.stroke {
  color: #0F3DE1;
  text-shadow:
   -1px -1px 0 #d6deff,  
    1px -1px 0 #d6deff,
    -1px 1px 0 #d6deff,
     1px 1px 0 #d6deff;
}
html {
	font-family: sans-serif;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
section {
	height: 100vh;
	scroll-snap-align: start;

	position: relative;
}
.scroll-wrapper {
  height: 100vh;
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  background-color: #777;
}
.scroll-section {
  scroll-snap-stop: always;
  height: 100vh;
  scroll-snap-align: start;
}

.scrollbar {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #E5D6F5;
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #B184E1;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E5D6F5;
}
}

ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}
